<section class="text-gray-400 bg-gray-900 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white">Life Outside Work</h1>
      <p class="leading-relaxed text-base text-white">While my professional life revolves around technology and software development, I have a diverse range of interests that keep me inspired and balanced. These activities help me unwind, fuel my creativity, and provide fresh perspectives that I bring into my work.</p>
    </div>
    
    <div class="flex flex-wrap -m-4 text-center">
      <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
        <div class="border-2 border-gray-800 px-4 py-6 rounded-lg">
          <i class="fas fa-chess text-indigo-400 mb-3 inline-block icon-large"></i>
          <h2 class="title-font font-medium text-3xl text-white">Playing Chess</h2>
          <p class="leading-relaxed"></p>
        </div>
      </div>
      
      <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
        <div class="border-2 border-gray-800 px-4 py-6 rounded-lg">
          <i class="fas fa-running text-indigo-400 mb-3 inline-block icon-large"></i>
          <h2 class="title-font font-medium text-3xl text-white">Practicing Sport</h2>
          <p class="leading-relaxed"></p>
        </div>
      </div>
      
      <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
        <div class="border-2 border-gray-800 px-4 py-6 rounded-lg">
          <i class="fa-solid fa-headphones text-indigo-400 mb-3 inline-block icon-large"></i>
          <h2 class="title-font font-medium text-3xl text-white">Listening to Podcasts</h2>
          <p class="leading-relaxed"></p>
        </div>
      </div>
      
      <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
        <div class="border-2 border-gray-800 px-4 py-6 rounded-lg">
          <i class="fa-solid fa-tv text-indigo-400 mb-3 inline-block icon-large"></i>
          <h2 class="title-font font-medium text-3xl text-white">Watching Documentaries</h2>
          <p class="leading-relaxed"></p>
        </div>
      </div>
    </div>
  </div>
</section>
