<section class="text-gray-400 bg-gray-900 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
        <h2 class="text-sm title-font text-gray-500 tracking-widest">Master's End of Study Project</h2>
        <h1 class="text-white text-3xl title-font font-medium mb-4">AI-Driven Talent Acquisition and Workforce Prediction System : JobyHunter</h1>
        <div class="flex mb-4">
          <a class="flex-grow text-indigo-400 border-b-2 border-indigo-500 py-2 text-lg px-1">Description</a>
          <!-- <a class="flex-grow border-b-2 border-gray-800 py-2 text-lg px-1">Reviews</a> -->
          <!-- <a class="flex-grow border-b-2 border-gray-800 py-2 text-lg px-1">Details</a> -->
        </div>
        <p class="leading-relaxed mb-4">The objective of this project is to integrate an AI layer into a recruitment application, creating prototypes that enhance various features of the recruitment process. These features include CV screening, candidate selection, profile analysis, behavior analysis during interviews, and implementation of smart tests tailored to specific jobs and user profiles. Essentially, the goal is to develop a minimum viable product (MVP) for an intelligent application that optimizes the recruitment process.</p>
        <div class="flex border-t border-gray-800 py-2">
          <span class="text-gray-500">Company</span>
          <span class="ml-auto text-white">Naxxum Group</span>
        </div>
        <div class="flex border-t border-gray-800 py-2">
          <span class="text-gray-500">Mention</span>
          <span class="ml-auto text-white">Excellent</span>
        </div>
        <div class="flex border-t border-b mb-6 border-gray-800 py-2">
          <span class="text-gray-500">Team Members</span>
          <span class="ml-auto text-white">3</span>
        </div>
        <div class="flex">
          <span class="title-font font-medium text-2xl text-white">01/02/2024 - 20/06/2024</span>
          <button class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Details</button>
          <button class="rounded-full w-10 h-10 bg-gray-800 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
            </svg>
          </button>
        </div>
      </div>
      <div class="image-container lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded">
        <img alt="ecommerce" class="image-item" src="assets/images/deployed.png">
        <img alt="ecommerce" class="image-item" src="assets/images/dashboard.png">
      </div>
    </div>
  </div>
</section>



<section class="text-gray-400 bg-gray-900 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
        <h2 class="text-sm title-font text-gray-500 tracking-widest">Personal Project</h2>
        <h1 class="text-white text-3xl title-font font-medium mb-4">MovieLens</h1>
        <div class="flex mb-4">
          <a class="flex-grow text-indigo-400 border-b-2 border-indigo-500 py-2 text-lg px-1">Description</a>
          
        </div>
        <p class="leading-relaxed mb-4">Displays movies from an online API, showcasing them with images and descriptions in a user-friendly interface.</p>
        <div class="flex border-t border-gray-800 py-2">
          <span class="text-gray-500">Project Type</span>
          <span class="ml-auto text-white">Personal Project</span>
        </div>
        <div class="flex border-t border-b mb-6 border-gray-800 py-2">
          <span class="text-gray-500">Team Members</span>
          <span class="ml-auto text-white">1</span>
        </div>
        <div class="flex">
          <span class="title-font font-medium text-2xl text-white">Feb 2023</span>
          <button class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Details</button>
          <button class="rounded-full w-10 h-10 bg-gray-800 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
            </svg>
          </button>
        </div>
      </div>
      <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="assets/images/projects/movies.jpg">
    </div>
  </div>
</section>



<section class="text-gray-400 bg-gray-900 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
        <h2 class="text-sm title-font text-gray-500 tracking-widest">Bachelor's End of Study Project</h2>
        <h1 class="text-white text-3xl title-font font-medium mb-4">English For Lazy</h1>
        <div class="flex mb-4">
          <a class="flex-grow text-indigo-400 border-b-2 border-indigo-500 py-2 text-lg px-1">Description</a>
          
        </div>
        <p class="leading-relaxed mb-4">Teaches and refines English pronunciation skills, helping learners master the nuances of spoken English through engaging exercises and real-time feedback.</p>
        <div class="flex border-t border-gray-800 py-2">
          <span class="text-gray-500">Company</span>
          <span class="ml-auto text-white">DSS Gates</span>
        </div>
        <div class="flex border-t border-gray-800 py-2">
          <span class="text-gray-500">Mention</span>
          <span class="ml-auto text-white">Very Good</span>
        </div>
        <div class="flex border-t border-b mb-6 border-gray-800 py-2">
          <span class="text-gray-500">Team Members</span>
          <span class="ml-auto text-white">2</span>
        </div>
        <div class="flex">
          <span class="title-font font-medium text-2xl text-white">15/03/2022 - 15/05/2022</span>
          <button class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Details</button>
          <button class="rounded-full w-10 h-10 bg-gray-800 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
            </svg>
          </button>
        </div>
      </div>
      <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="assets/images/projects/english_4_l.png">
    </div>
  </div>
</section>



<section class="text-gray-400 bg-gray-900 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
        <h2 class="text-sm title-font text-gray-500 tracking-widest">Personal Project</h2>
        <h1 class="text-white text-3xl title-font font-medium mb-4">FolderAlias</h1>
        <div class="flex mb-4">
          <a class="flex-grow text-indigo-400 border-b-2 border-indigo-500 py-2 text-lg px-1">Description</a>
          
        </div>
        <p class="leading-relaxed mb-4">Simplify the process of renaming multiple files within a selected folder.</p>
        <div class="flex border-t border-gray-800 py-2">
          <span class="text-gray-500">Project Type</span>
          <span class="ml-auto text-white">Personal Project</span>
        </div>
        <!-- <div class="flex border-t border-gray-800 py-2">
          <span class="text-gray-500">Size</span>
          <span class="ml-auto text-white">Medium</span>
        </div> -->
        <div class="flex border-t border-b mb-6 border-gray-800 py-2">
          <span class="text-gray-500">Team Members</span>
          <span class="ml-auto text-white">1</span>
        </div>
        <div class="flex">
          <span class="title-font font-medium text-2xl text-white">Feb 2023</span>
          <button class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Details</button>
          <button class="rounded-full w-10 h-10 bg-gray-800 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
            </svg>
          </button>
        </div>
      </div>
      <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="assets/images/projects/folder-aleas.png">
    </div>
  </div>
</section>



<section class="text-gray-400 bg-gray-900 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
        <h2 class="text-sm title-font text-gray-500 tracking-widest">Personal Project</h2>
        <h1 class="text-white text-3xl title-font font-medium mb-4">Ping-Pong</h1>
        <div class="flex mb-4">
          <a class="flex-grow text-indigo-400 border-b-2 border-indigo-500 py-2 text-lg px-1">Description</a>
          
        </div>
        <p class="leading-relaxed mb-4">A classic ping-pong game that encapsulates the timeless thrill of table tennis. With intuitive controls and dynamic gameplay, it offers an engaging experience that keeps you hooked for hours.</p>
        <div class="flex border-t border-gray-800 py-2">
          <span class="text-gray-500">Project Type</span>
          <span class="ml-auto text-white">Personal Project</span>
        </div>
        <!-- <div class="flex border-t border-gray-800 py-2">
          <span class="text-gray-500">Size</span>
          <span class="ml-auto text-white">Medium</span>
        </div> -->
        <div class="flex border-t border-b mb-6 border-gray-800 py-2">
          <span class="text-gray-500">Team Members</span>
          <span class="ml-auto text-white">1</span>
        </div>
        <div class="flex">
          <span class="title-font font-medium text-2xl text-white">Feb 2023</span>
          <button class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Details</button>
          <button class="rounded-full w-10 h-10 bg-gray-800 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
            </svg>
          </button>
        </div>
      </div>
      <div class="image-container lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded">
        <img alt="ecommerce" class="image-item" src="https://i.gifer.com/QgxJ.gif">
      </div>
    </div>
  </div>
</section>



<section class="text-gray-400 bg-gray-900 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
        <h2 class="text-sm title-font text-gray-500 tracking-widest">Personal Project</h2>
        <h1 class="text-white text-3xl title-font font-medium mb-4">FileXChange</h1>
        <div class="flex mb-4">
          <a class="flex-grow text-indigo-400 border-b-2 border-indigo-500 py-2 text-lg px-1">Description</a>
          
        </div>
        <p class="leading-relaxed mb-4">Streamline the process of changing file extensions in bulk with our user-friendly GUI.</p>
        <div class="flex border-t border-gray-800 py-2">
          <span class="text-gray-500">Project Type</span>
          <span class="ml-auto text-white">Personal Project</span>
        </div>
        <!-- <div class="flex border-t border-gray-800 py-2">
          <span class="text-gray-500">Size</span>
          <span class="ml-auto text-white">Medium</span>
        </div> -->
        <div class="flex border-t border-b mb-6 border-gray-800 py-2">
          <span class="text-gray-500">Team Members</span>
          <span class="ml-auto text-white">1</span>
        </div>
        <div class="flex">
          <span class="title-font font-medium text-2xl text-white">Feb 2023</span>
          <button class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Details</button>
          <button class="rounded-full w-10 h-10 bg-gray-800 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
            </svg>
          </button>
        </div>
      </div>
      <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="assets/images/projects/file-extention.png">
    </div>
  </div>
</section>



<section class="text-gray-400 bg-gray-900 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
        <h2 class="text-sm title-font text-gray-500 tracking-widest">Personal Project</h2>
        <h1 class="text-white text-3xl title-font font-medium mb-4">Youtube Downloader</h1>
        <div class="flex mb-4">
          <a class="flex-grow text-indigo-400 border-b-2 border-indigo-500 py-2 text-lg px-1">Description</a>
          
        </div>
        <p class="leading-relaxed mb-4">Simplifies the process of downloading videos and audio tracks from YouTube.</p>
        <div class="flex border-t border-gray-800 py-2">
          <span class="text-gray-500">Project Type</span>
          <span class="ml-auto text-white">Personal Project</span>
        </div>
        <!-- <div class="flex border-t border-gray-800 py-2">
          <span class="text-gray-500">Size</span>
          <span class="ml-auto text-white">Medium</span>
        </div> -->
        <div class="flex border-t border-b mb-6 border-gray-800 py-2">
          <span class="text-gray-500">Team Members</span>
          <span class="ml-auto text-white">1</span>
        </div>
        <div class="flex">
          <span class="title-font font-medium text-2xl text-white">Feb 2023</span>
          <button class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Details</button>
          <button class="rounded-full w-10 h-10 bg-gray-800 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
            </svg>
          </button>
        </div>
      </div>
      <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="assets/images/projects/youtube-downloader.jpeg">
    </div>
  </div>
</section>



<section class="text-gray-400 bg-gray-900 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
        <h2 class="text-sm title-font text-gray-500 tracking-widest">Personal Project</h2>
        <h1 class="text-white text-3xl title-font font-medium mb-4">MP4_to_MP3 Converter</h1>
        <div class="flex mb-4">
          <a class="flex-grow text-indigo-400 border-b-2 border-indigo-500 py-2 text-lg px-1">Description</a>
          
        </div>
        <p class="leading-relaxed mb-4">Converts MP4 video files to high-quality MP3 audio files with ease using a user-friendly interface.</p>
        <div class="flex border-t border-gray-800 py-2">
          <span class="text-gray-500">Project Type</span>
          <span class="ml-auto text-white">Personal Project</span>
        </div>
        <!-- <div class="flex border-t border-gray-800 py-2">
          <span class="text-gray-500">Size</span>
          <span class="ml-auto text-white">Medium</span>
        </div> -->
        <div class="flex border-t border-b mb-6 border-gray-800 py-2">
          <span class="text-gray-500">Team Members</span>
          <span class="ml-auto text-white">1</span>
        </div>
        <div class="flex">
          <span class="title-font font-medium text-2xl text-white">Feb 2023</span>
          <button class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Details</button>
          <button class="rounded-full w-10 h-10 bg-gray-800 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
            </svg>
          </button>
        </div>
      </div>
      <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="assets/images/projects/mp4_to_mp3.png">
    </div>
  </div>
</section>
