<section class="text-gray-400 bg-gray-900 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -m-4">
        

        <div class="p-4 md:w-1/3">
          <div class="h-full border-2 border-gray-800 rounded-lg overflow-hidden">
            <img class="lg:h-48 md:h-36 w-full object-cover object-center img-zoom" src="assets/images/achievements/ef-set.png" alt="blog">
            <div class="p-6">
              <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">EF-Set</h2>
              <h1 class="title-font text-lg font-medium text-white mb-3">Level C1 Advanced</h1>
              <p class="leading-relaxed mb-3 hover:text-white transition duration-300 ease-in-out">An internationally recognized credential that assesses English proficiency in reading and listening. Developed by EF Education First, it follows CEFR standards and is widely used for verifying language skills for academic, professional, and personal purposes.</p>
              <div class="flex items-center flex-wrap ">
                <a href="https://drive.google.com/file/d/1AnyQ1rtpipxyGJyXCSkzs1PhbsT2tf0y/view?usp=sharing" target="_blank"class="text-indigo-400 inline-flex items-center md:mb-2 lg:mb-0">View Achievement
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
                <span class="text-gray-500 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-800">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                    <circle cx="12" cy="12" r="3"></circle>
                  </svg>1.2K
                </span>
                <span class="text-gray-500 inline-flex items-center leading-none text-sm">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                  </svg>6
                </span>
              </div>
            </div>
          </div>
        </div>


        <div class="p-4 md:w-1/3">
          <div class="h-full border-2 border-gray-800 rounded-lg overflow-hidden">
            <img class="lg:h-48 md:h-36 w-full object-cover object-center img-zoom" src="assets/images/achievements/hackathon.png" alt="blog">
            <div class="p-6">
              <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">IEEE FST HACKATHON 2.0</h2>
              <h1 class="title-font text-lg font-medium text-white mb-3">2nd Place : Problem Solving</h1>
              <p class="leading-relaxed mb-3 hover:text-white transition duration-300 ease-in-out">24-hour coding competition 'FST Hackathon 2.0' organized by IEEE Computer Society FST Chapter & IEEE WIE FST Student Affinity Group at The City of Sciences in Tunis.</p>
              <div class="flex items-center flex-wrap ">
                <a href="https://drive.google.com/file/d/1NPS0y6wRt2Oqfvbv4hEZYRxW6jbc29ow/view?usp=sharing" target="_blank" class="text-indigo-400 inline-flex items-center md:mb-2 lg:mb-0">View Achievement
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
                <span class="text-gray-500 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-800">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                    <circle cx="12" cy="12" r="3"></circle>
                  </svg>1.2K
                </span>
                <span class="text-gray-500 inline-flex items-center leading-none text-sm">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                  </svg>6
                </span>
              </div>
            </div>
          </div>
        </div>
        

        <div class="p-4 md:w-1/3">
          <div class="h-full border-2 border-gray-800 rounded-lg overflow-hidden">
            <img class="lg:h-48 md:h-36 w-full object-cover object-center img-zoom" src="assets/images/achievements/scrum.png" alt="blog">
            <div class="p-6">
              <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">SCRUM Study</h2>
              <h1 class="title-font text-lg font-medium text-white mb-3">Scrum Fundamentals Certified (SFC™)</h1>
              <p class="leading-relaxed mb-3 hover:text-white transition duration-300 ease-in-out">Scrum Fundamentals Certified course is tailored to help anyone interested to know more about Scrum, learn about key concepts in Scrum as defined in the SBOK® Guide, and to get a basic understanding of how Scrum framework works in delivering successful projects.</p>
              <div class="flex items-center flex-wrap">
                <a href="https://www.scrumstudy.com/certification/verify?type=SFC&number=955990" target="_blank"class="text-indigo-400 inline-flex items-center md:mb-2 lg:mb-0">View Achievement
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
                <span class="text-gray-500 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-800">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                    <circle cx="12" cy="12" r="3"></circle>
                  </svg>1.2K
                </span>
                <span class="text-gray-500 inline-flex items-center leading-none text-sm">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                  </svg>6
                </span>
              </div>
            </div>
          </div>
        </div>


        <div class="p-4 md:w-1/3">
          <div class="h-full border-2 border-gray-800 rounded-lg overflow-hidden">
            <img class="lg:h-48 md:h-36 w-full object-cover object-center img-zoom" src="assets/images/achievements/java.png" alt="blog">
            <div class="p-6">
              <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">Microsoft Technology Associate</h2>
              <h1 class="title-font text-lg font-medium text-white mb-3">Java</h1>
              <p class="leading-relaxed mb-3 hover:text-white transition duration-300 ease-in-out">Demonstrate the skills and knowledge to write, debug and maintain well-formed, well documented Java code.</p>
              <div class="flex items-center flex-wrap ">
                <a href="https://www.credly.com/badges/890818f7-d160-4185-a007-532e97b3ec3f/public_url" target="_blank" class="text-indigo-400 inline-flex items-center md:mb-2 lg:mb-0">View Achievement
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
                <span class="text-gray-500 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-800">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                    <circle cx="12" cy="12" r="3"></circle>
                  </svg>1.2K
                </span>
                <span class="text-gray-500 inline-flex items-center leading-none text-sm">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                  </svg>6
                </span>
              </div>
            </div>
          </div>
        </div>
        

        <div class="p-4 md:w-1/3">
          <div class="h-full border-2 border-gray-800 rounded-lg overflow-hidden">
            <img class="lg:h-48 md:h-36 w-full object-cover object-center img-zoom" src="assets/images/achievements/python.png" alt="blog">
            <div class="p-6">
              <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">Microsoft Technology Associate</h2>
              <h1 class="title-font text-lg font-medium text-white mb-3">Python</h1>
              <p class="leading-relaxed mb-3 hover:text-white transition duration-300 ease-in-out">Demonstrated the skills and knowledge to recognize and write syntactically correct Python code, recognize data types supported by Python, and the ability to recognize and write Python code that will logically solve a given problem.</p>
              <div class="flex items-center flex-wrap">
                <a href="https://www.credly.com/badges/5d005f88-2707-4bc4-993a-ca1eac590f83/public_url" target="_blank"class="text-indigo-400 inline-flex items-center md:mb-2 lg:mb-0">View Achievement
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
                <span class="text-gray-500 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-800">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                    <circle cx="12" cy="12" r="3"></circle>
                  </svg>1.2K
                </span>
                <span class="text-gray-500 inline-flex items-center leading-none text-sm">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                  </svg>6
                </span>
              </div>
            </div>
          </div>
        </div>


        <div class="p-4 md:w-1/3">
          <div class="h-full border-2 border-gray-800 rounded-lg overflow-hidden">
            <img class="lg:h-48 md:h-36 w-full object-cover object-center img-zoom" src="assets/images//achievements/python-ibm.png" alt="blog">
            <div class="p-6">
              <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">IBM</h2>
              <h1 class="title-font text-lg font-medium text-white mb-3">Python</h1>
              <p class="leading-relaxed mb-3 hover:text-white transition duration-300 ease-in-out">Displayed an understanding of topics such as what is Python programming language, data types, variable assignment, arithmetic operations, conditional statements, logical operators, strong methods, collections and iteration, functions, classes, and files.</p>
              <div class="flex items-center flex-wrap ">
                <a href="https://www.credly.com/badges/20369c92-1e32-47da-a149-6b128ec6398a?source=linked_in_profile" target="_blank"class="text-indigo-400 inline-flex items-center md:mb-2 lg:mb-0">View Achievement
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
                <span class="text-gray-500 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-800">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                    <circle cx="12" cy="12" r="3"></circle>
                  </svg>1.2K
                </span>
                <span class="text-gray-500 inline-flex items-center leading-none text-sm">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                  </svg>6
                </span>
              </div>
            </div>
          </div>
        </div>
        
        <div class="p-4 md:w-1/3">
          <div class="h-full border-2 border-gray-800 rounded-lg overflow-hidden">
            <img class="lg:h-48 md:h-36 w-full object-cover object-center img-zoom" src="assets/images/achievements/ai.png" alt="blog">
            <div class="p-6">
              <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">Microsoft Certified Fundamentals</h2>
              <h1 class="title-font text-lg font-medium text-white mb-3">Azure AI Fundamentals</h1>
              <p class="leading-relaxed mb-3 hover:text-white transition duration-300 ease-in-out">Demonstrated foundational knowledge of machine learning (ML) and artificial intelligence (AI) concepts and related Microsoft Azure services.</p>
              <div class="flex items-center flex-wrap ">
                <a href="https://www.credly.com/badges/fe102da5-9ea8-4ae8-886b-8e08a0590ce7/public_url" target="_blank"class="text-indigo-400 inline-flex items-center md:mb-2 lg:mb-0">View Achievement
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
                <span class="text-gray-500 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-800">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                    <circle cx="12" cy="12" r="3"></circle>
                  </svg>1.2K
                </span>
                <span class="text-gray-500 inline-flex items-center leading-none text-sm">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                  </svg>6
                </span>
              </div>
            </div>
          </div>
        </div>
        

        <div class="p-4 md:w-1/3">
          <div class="h-full border-2 border-gray-800 rounded-lg overflow-hidden">
            <img class="lg:h-48 md:h-36 w-full object-cover object-center img-zoom" src="assets/images/achievements/js.png" alt="blog">
            <div class="p-6">
              <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">Microsoft Technology Associate</h2>
              <h1 class="title-font text-lg font-medium text-white mb-3">JavaScript</h1>
              <p class="leading-relaxed mb-3 hover:text-white transition duration-300 ease-in-out">Demonstrated the skills and knowledge to recognize and write syntactically correct JavaScript code, use data types supported by JavaScript, and be able to recognize and write JavaScript code that will logically solve a given problem.</p>
              <div class="flex items-center flex-wrap">
                <a href="https://www.credly.com/badges/a6516c0c-6a11-4d00-a1f5-c267ded6be08/public_url" target="_blank"class="text-indigo-400 inline-flex items-center md:mb-2 lg:mb-0">View Achievement
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
                <span class="text-gray-500 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-800">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                    <circle cx="12" cy="12" r="3"></circle>
                  </svg>1.2K
                </span>
                <span class="text-gray-500 inline-flex items-center leading-none text-sm">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                  </svg>6
                </span>
              </div>
            </div>
          </div>
        </div>


        <div class="p-4 md:w-1/3">
          <div class="h-full border-2 border-gray-800 rounded-lg overflow-hidden">
            <img class="lg:h-48 md:h-36 w-full object-cover object-center img-zoom" src="assets/images//achievements/word.png" alt="blog">
            <div class="p-6">
              <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">Microsoft Office Specialist</h2>
              <h1 class="title-font text-lg font-medium text-white mb-3">Microsoft Office Word</h1>
              <p class="leading-relaxed mb-3 hover:text-white transition duration-300 ease-in-out">Exam earners have a fundamental understanding of the Word environment and the ability to complete tasks independently. Earners demonstrated the principal features of Word 2016 by creating and editing a large project which can include professional-looking reports, multi-column newsletters, résumés, and business correspondence.</p>
              <div class="flex items-center flex-wrap ">
                <a href="https://www.credly.com/badges/0aa27450-e933-41d1-ab2f-d9fa791ba327/public_url" target="_blank"class="text-indigo-400 inline-flex items-center md:mb-2 lg:mb-0">View Achievement
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
                <span class="text-gray-500 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-800">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                    <circle cx="12" cy="12" r="3"></circle>
                  </svg>1.2K
                </span>
                <span class="text-gray-500 inline-flex items-center leading-none text-sm">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                  </svg>6
                </span>
              </div>
            </div>
          </div>
        </div>
        
        <div class="p-4 md:w-1/3">
          <div class="h-full border-2 border-gray-800 rounded-lg overflow-hidden">
            <img class="lg:h-48 md:h-36 w-full object-cover object-center img-zoom" src="assets/images/achievements/excel.png" alt="blog">
            <div class="p-6">
              <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">Microsoft Office Specialist</h2>
              <h1 class="title-font text-lg font-medium text-white mb-3">Microsoft Office Excel</h1>
              <p class="leading-relaxed mb-3 hover:text-white transition duration-300 ease-in-out">Exam earners have a fundamental understanding of Excel 2016 and the ability to complete tasks independently. Earners have proven they can create and edit a workbook with multiple sheets, and use graphic elements to represent data visually including professional-looking budgets, financial statements, performance charts, and data-entry logs.</p>
              <div class="flex items-center flex-wrap ">
                <a href="https://www.credly.com/badges/a22ab533-2ab4-48a6-afc1-f0ba541fce18/public_url" target="_blank"class="text-indigo-400 inline-flex items-center md:mb-2 lg:mb-0">View Achievement
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
                <span class="text-gray-500 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-800">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                    <circle cx="12" cy="12" r="3"></circle>
                  </svg>1.2K
                </span>
                <span class="text-gray-500 inline-flex items-center leading-none text-sm">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                  </svg>6
                </span>
              </div>
            </div>
          </div>
        </div>
        

        <div class="p-4 md:w-1/3">
          <div class="h-full border-2 border-gray-800 rounded-lg overflow-hidden">
            <img class="lg:h-48 md:h-36 w-full object-cover object-center img-zoom" src="assets/images/achievements/ppt.png" alt="blog">
            <div class="p-6">
              <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">Microsoft Office Specialist</h2>
              <h1 class="title-font text-lg font-medium text-white mb-3">Microsoft Office PowerPoint</h1>
              <p class="leading-relaxed mb-3 hover:text-white transition duration-300 ease-in-out">Demonstrate a fundamental understanding of the PowerPoint environment and correct application of PowerPoint 2016. Earners are able to create, edit, and enhance PowerPoint presentations, including professional grade sales presentations, employee training, instructional materials, and kiosk slideshows.</p>
              <div class="flex items-center flex-wrap">
                <a href="https://www.credly.com/badges/4865ab3f-a2e9-4efc-8ab2-7b80b2f1352a/public_url" target="_blank"class="text-indigo-400 inline-flex items-center md:mb-2 lg:mb-0">View Achievement
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
                <span class="text-gray-500 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-800">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                    <circle cx="12" cy="12" r="3"></circle>
                  </svg>1.2K
                </span>
                <span class="text-gray-500 inline-flex items-center leading-none text-sm">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                  </svg>6
                </span>
              </div>
            </div>
          </div>
        </div>


        <div class="p-4 md:w-1/3">
          <div class="h-full border-2 border-gray-800 rounded-lg overflow-hidden">
            <img class="lg:h-48 md:h-36 w-full object-cover object-center img-zoom" src="assets/images//achievements/fundamentals.png" alt="blog">
            <div class="p-6">
              <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">Microsoft Technology Associate</h2>
              <h1 class="title-font text-lg font-medium text-white mb-3">Software Development Fundamentals</h1>
              <p class="leading-relaxed mb-3 hover:text-white transition duration-300 ease-in-out">Software Development Fundamentals certification have demonstrated core software development skills.</p>
              <div class="flex items-center flex-wrap ">
                <a href="https://www.credly.com/badges/7d5dd05a-b4ea-4e17-aad3-b8a982e221fc/public_url" target="_blank"class="text-indigo-400 inline-flex items-center md:mb-2 lg:mb-0">View Achievement
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
                <span class="text-gray-500 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-800">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                    <circle cx="12" cy="12" r="3"></circle>
                  </svg>1.2K
                </span>
                <span class="text-gray-500 inline-flex items-center leading-none text-sm">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                  </svg>6
                </span>
              </div>
            </div>
          </div>
        </div>
        
        <div class="p-4 md:w-1/3">
          <div class="h-full border-2 border-gray-800 rounded-lg overflow-hidden">
            <img class="lg:h-48 md:h-36 w-full object-cover object-center img-zoom" src="assets/images/achievements/os.png" alt="blog">
            <div class="p-6">
              <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">Microsoft Technology Associate</h2>
              <h1 class="title-font text-lg font-medium text-white mb-3">Operating System Fundamentals</h1>
              <p class="leading-relaxed mb-3 hover:text-white transition duration-300 ease-in-out">Demonstrated fundamental knowledge of Operating System Configurations, Installing and Upgrading Client Systems, Managing Applications, Managing Files and Folders, Managing Devices, and Operating System Maintenance.</p>
              <div class="flex items-center flex-wrap ">
                <a href="https://www.credly.com/badges/a72f282e-840a-4789-8d7b-59a215671224/public_url" target="_blank"class="text-indigo-400 inline-flex items-center md:mb-2 lg:mb-0">View Achievement
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
                <span class="text-gray-500 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-800">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                    <circle cx="12" cy="12" r="3"></circle>
                  </svg>1.2K
                </span>
                <span class="text-gray-500 inline-flex items-center leading-none text-sm">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                  </svg>6
                </span>
              </div>
            </div>
          </div>
        </div>
        

        <div class="p-4 md:w-1/3">
          <div class="h-full border-2 border-gray-800 rounded-lg overflow-hidden">
            <img class="lg:h-48 md:h-36 w-full object-cover object-center img-zoom" src="assets/images/achievements/java-h.png" alt="blog">
            <div class="p-6">
              <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">HackerRank</h2>
              <h1 class="title-font text-lg font-medium text-white mb-3">Java (Basic)</h1>
              <p class="leading-relaxed mb-3 hover:text-white transition duration-300 ease-in-out">Covers basic topics in Java language such as classes, data structures, inheritance, exception handling, etc. You are expected to be proficient in either Java 7 or Java 8.</p>
              <div class="flex items-center flex-wrap">
                <a href="https://www.hackerrank.com/certificates/28a0bd3271f0" target="_blank"class="text-indigo-400 inline-flex items-center md:mb-2 lg:mb-0">View Achievement
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
                <span class="text-gray-500 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-800">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                    <circle cx="12" cy="12" r="3"></circle>
                  </svg>1.2K
                </span>
                <span class="text-gray-500 inline-flex items-center leading-none text-sm">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                  </svg>6
                </span>
              </div>
            </div>
          </div>
        </div>


        <div class="p-4 md:w-1/3">
          <div class="h-full border-2 border-gray-800 rounded-lg overflow-hidden">
            <img class="lg:h-48 md:h-36 w-full object-cover object-center img-zoom" src="assets/images//achievements/sql-b.png" alt="blog">
            <div class="p-6">
              <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">HackerRank</h2>
              <h1 class="title-font text-lg font-medium text-white mb-3">SQL (Basic)</h1>
              <p class="leading-relaxed mb-3 hover:text-white transition duration-300 ease-in-out">Includes simple queries, relationships, and aggregators.</p>
              <div class="flex items-center flex-wrap ">
                <a href="https://www.hackerrank.com/certificates/91ff1c2300cf" target="_blank"class="text-indigo-400 inline-flex items-center md:mb-2 lg:mb-0">View Achievement
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
                <span class="text-gray-500 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-800">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                    <circle cx="12" cy="12" r="3"></circle>
                  </svg>1.2K
                </span>
                <span class="text-gray-500 inline-flex items-center leading-none text-sm">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                  </svg>6
                </span>
              </div>
            </div>
          </div>
        </div>
  
        <div class="p-4 md:w-1/3">
          <div class="h-full border-2 border-gray-800 rounded-lg overflow-hidden">
            <img class="lg:h-48 md:h-36 w-full object-cover object-center img-zoom" src="assets/images/achievements/sql-i.png" alt="blog">
            <div class="p-6">
              <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">HackerRank</h2>
              <h1 class="title-font text-lg font-medium text-white mb-3">SQL (Intermediate)</h1>
              <p class="leading-relaxed mb-3 hover:text-white transition duration-300 ease-in-out">Includes complex joins, unions, and sub-queries.</p>
              <div class="flex items-center flex-wrap ">
                <a href="https://www.hackerrank.com/certificates/e4a0fc8ecc6c" target="_blank"class="text-indigo-400 inline-flex items-center md:mb-2 lg:mb-0">View Achievement
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
                <span class="text-gray-500 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-800">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                    <circle cx="12" cy="12" r="3"></circle>
                  </svg>1.2K
                </span>
                <span class="text-gray-500 inline-flex items-center leading-none text-sm">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                  </svg>6
                </span>
              </div>
            </div>
          </div>
        </div>
        

        <div class="p-4 md:w-1/3">
          <div class="h-full border-2 border-gray-800 rounded-lg overflow-hidden">
            <img class="lg:h-48 md:h-36 w-full object-cover object-center img-zoom" src="assets/images/achievements/sql-a.png" alt="blog">
            <div class="p-6">
              <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">HackerRank</h2>
              <h1 class="title-font text-lg font-medium text-white mb-3">SQL (Advanced)</h1>
              <p class="leading-relaxed mb-3 hover:text-white transition duration-300 ease-in-out">Covers topics like query optimization, data modeling, Indexing, window functions, and pivots in SQL.</p>
              <div class="flex items-center flex-wrap">
                <a href="https://www.hackerrank.com/certificates/c15b1ab417f7" target="_blank"class="text-indigo-400 inline-flex items-center md:mb-2 lg:mb-0">View Achievement
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
                <span class="text-gray-500 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-800">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                    <circle cx="12" cy="12" r="3"></circle>
                  </svg>1.2K
                </span>
                <span class="text-gray-500 inline-flex items-center leading-none text-sm">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                  </svg>6
                </span>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </section>


<!-- <section class="text-gray-400 bg-gray-900 body-font">
  <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -m-4">
          
        <div class="p-4 md:w-1/3">
              <div class="h-full border-2 border-gray-800 rounded-lg overflow-hidden">
                  <img class="lg:h-48 md:h-36 w-full object-cover object-center img-zoom img-zoom"
                      src="assets/images/achievements/ef-set.png" alt="EF-Set">
                  <div class="p-6">
                      <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">EF-Set</h2>
                      <h1 class="title-font text-lg font-medium text-white mb-3">Level C1 Advanced</h1>
                      <p class="leading-relaxed mb-3 hover:text-white transition duration-300 ease-in-out">An
                          internationally recognized credential that assesses English proficiency in reading and
                          listening. Developed by EF Education First, it follows CEFR standards and is widely used for
                          verifying language skills for academic, professional, and personal purposes.</p>
                      <div class="flex items-center flex-wrap ">
                          <a href="https://drive.google.com/file/d/1AnyQ1rtpipxyGJyXCSkzs1PhbsT2tf0y/view?usp=sharing"
                              target="_blank"
                              class="text-indigo-400 inline-flex items-center md:mb-2 lg:mb-0">View Achievement
                              <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor"
                                  stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                  <path d="M5 12h14"></path>
                                  <path d="M12 5l7 7-7 7"></path>
                              </svg>
                          </a>
                          <span
                              class="text-gray-500 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-800">
                              <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none"
                                  stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                                  <path
                                      d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z">
                                  </path>
                                  <circle cx="12" cy="12" r="3"></circle>
                              </svg>1.2K
                          </span>
                          <span class="text-gray-500 inline-flex items-center leading-none text-sm">
                              <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none"
                                  stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                                  <path
                                      d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z">
                                  </path>
                              </svg>6
                          </span>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="p-4 md:w-1/3">
        <div class="h-full border-2 border-gray-800 rounded-lg overflow-hidden">
          <img class="lg:h-48 md:h-36 w-full object-cover object-center img-zoom img-zoom" src="assets/images/achievements/hackathon.png" alt="blog">
          <div class="p-6">
            <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">IEEE FST HACKATHON 2.0</h2>
            <h1 class="title-font text-lg font-medium text-white mb-3">2nd Place : Problem Solving</h1>
            <p class="leading-relaxed mb-3 hover:text-white transition duration-300 ease-in-out">24-hour coding competition 'FST Hackathon 2.0' organized by IEEE Computer Society FST Chapter & IEEE WIE FST Student Affinity Group at The City of Sciences in Tunis.</p>
            <div class="flex items-center flex-wrap ">
              <a href="https://drive.google.com/file/d/1NPS0y6wRt2Oqfvbv4hEZYRxW6jbc29ow/view?usp=sharing" target="_blank" class="text-indigo-400 inline-flex items-center md:mb-2 lg:mb-0">View Achievement
                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M5 12h14"></path>
                  <path d="M12 5l7 7-7 7"></path>
                </svg>
              </a>
              <span class="text-gray-500 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-800">
                <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                  <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                  <circle cx="12" cy="12" r="3"></circle>
                </svg>1.2K
              </span>
              <span class="text-gray-500 inline-flex items-center leading-none text-sm">
                <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                  <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                </svg>6
              </span>
            </div>
          </div>
        </div>
      </div>
  </div>
</section> -->
