<section class="custom-bg">
  <div class="stars"></div>
  <div class="custom-overlay"></div>
  <div class="container px-5 py-24 mx-auto flex flex-wrap content">
    <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 md:w-2/6 big-heading">Step into My World</h1>
    <div class="content-wrapper">
      <div class="text-content md:w-3/5 md:pl-6">
        <h1 class="font-medium title-font tracking-wider text-sm">Hey there! I'm Rami Ben Othmen</h1>
        <div class="image-container"> 
          <img src="../../assets/images/home/rami_b1.jpg" alt="Rami Ben Othmen" class="profile-image"> 
        </div>
        <p class="leading-relaxed text-base hover:text-gray-200 transition duration-300 ease-in-out">I'm a passionate and dedicated software developer with a Professional Master's Degree in Engineering of Decisional Information Systems and a Bachelor's Degree in Software Development. With a strong foundation in software engineering and a keen interest in business intelligence, I strive to create innovative and efficient solutions that drive meaningful results.</p>
        <div class="flex md:mt-4 mt-6">
          <button routerLink="/contact" class="inline-flex text-white bg-indigo-500 border-0 py-1 px-4 focus:outline-none hover:bg-indigo-600 rounded">Reach Me</button>
          <a routerLink="/about" class="text-indigo-400 inline-flex items-center ml-4">See More About Me
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>